.comment-text {
  text-align: left;
  padding: 2px;
  margin-left: 4px;
}
.comment {
  font-size: 14px;
}
.comment-form  {
  margin-top: 10px;
  padding: 0 10px;
  width: 100%;
}
.comment-form input {
  width: 100%;
  font-size: 14px;
  padding: 20px 0px;
  border: none;
  border-top: 1px solid #efefef;
  color: #999;
  background: none;
}

.comment-form input:focus {
  outline: none;
}
.user {
  font-size: 14px;
  margin-left: 5px;
  color: black;
  font-weight: bold;
}